body {
  background-image: linear-gradient(
    to right,
    rgba(107, 29, 29, 0.471),
    rgba(11, 11, 137, 0.56)
  );
  height: 100vh;
  width: 100vw;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
}

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .welcome h1 {
    text-align: center;
    font-size: 1.5rem;
  }

   .welcome p {
    text-align: center;
    padding: auto;
    font-size: 17px;
    line-height: 1.5rem;
  text-transform: lowercase;
  }
}
